awscli==1.37.17
bleach==3.3.0
blis==0.7.4
botocore==1.36.17
catalogue==2.0.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cycler==0.10.0
cymem==2.0.5
dnspython==2.7.0
docutils==0.16
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
findspark==2.0.1
idna==2.10
importlib-metadata==4.0.1
Jinja2==3.0.1
jmespath==1.0.1
keyring==23.0.1
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplot==0.1.9
matplotlib==3.4.2
murmurhash==1.0.5
numpy==1.20.3
packaging==20.9
pathy==0.6.0
Pillow==8.2.0
pkginfo==1.7.0
preshed==3.0.5
py4j==0.10.9.3
pyasn1==0.6.1
pydantic==1.8.2
Pygments==2.9.0
pyloco==0.0.139
pymongo==4.10.1
pyparsing==2.4.7
pyserial==3.5
pyspark==3.2.1
python-dateutil==2.8.1
PyYAML==6.0.2
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
rsa==4.7.2
s3transfer==0.11.2
SimpleWebSocketServer==0.1.1
six==1.16.0
smart-open==5.1.0
spacy==3.1.0
spacy-legacy==3.0.8
srsly==2.4.1
thinc==8.0.8
tqdm==4.60.0
twine==3.4.1
typer==0.3.2
typing==3.7.4.3
typing-extensions==3.10.0.0
urllib3==1.26.4
ushlex==0.99.1
wasabi==0.8.2
webencodings==0.5.1
websocket-client==1.0.1
zipp==3.4.1
